## Acquire process:

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt


# acquire
from env import host, user, password
from pydataset import data

In [2]:
# Create helper function to get the necessary connection url.

def get_connection(db_name):
    '''
    This function uses my info from my env file to
    create a connection url to access the Codeup db.
    '''
    from env import host, user, password
    return f'mysql+pymysql://{user}:{password}@{host}/{db_name}'

In [3]:
def get_telco_churn_data():
    '''
    This function reads in the iris data from the Codeup db
    and returns a pandas DataFrame with all columns.
    '''
    
    sql_query = '''
    SELECT *
    FROM customers
    JOIN contract_types ON customers.contract_type_id = contract_types.contract_type_id
    JOIN payment_types ON customers.payment_type_id = payment_types.payment_type_id
    JOIN internet_service_types ON customers.internet_service_type_id = internet_service_types.internet_service_type_id
    '''
    return pd.read_sql(sql_query, get_connection('telco_churn'))

_________

## Explore the data

In [4]:
#rename data to 'telco'
telco = get_telco_churn_data()

In [ ]:
#look at data
telco.head()

In [ ]:
#this data appears to have no nulls
#data has int and object data types
telco.info()

### data summary:
- 18 object data types
- 8 integer data types
- 1 float data type
- 0 null values

In [ ]:
#descriptive statistics
telco.describe()

_______

### get curious about the data

In [ ]:
#we are trying to determine churn... look into that
telco.churn.value_counts()

#this shows 26.54% of customers churn (1869 out of 7043)

In [ ]:
#find ou how many are senior citizens and how many are not
telco.senior_citizen.value_counts()

#this shows that 16.21% of all customers churn (1142 out of 7043)

In [ ]:
#average tenure, max tenure, min tenure??
telco.tenure.mean(), telco.tenure.max(), telco.tenure.min()

In [ ]:
#average monthly charges, max monthly charges, min monthly charges
telco.monthly_charges.mean(), telco.monthly_charges.max(), telco.monthly_charges.min()

In [ ]:
#group by churn and senior_citizen 
#senior_churn= telco.groupby(['churn','senior_citizen'])

_________

In [ ]:
#gettting value counts for churn as int not obj
(telco.churn == 'Yes').astype(int).value_counts()

In [ ]:
telco.head()

In [ ]:
telco.head()

In [ ]:
#can see that churn is now an int
telco.info()

### Data Prep

In [5]:
#change total charges from an object to a float- put that in PREPARE
telco.total_charges = telco.total_charges.str.replace(' ', '0').astype(float)

In [6]:
##need to convert churn to int
telco_change = telco.replace({'churn': {'No':0, 'Yes':1}}, inplace=True)
## ^can only run line once

In [7]:
#drop columns not needed
telco = telco.drop(['customer_id'], axis=1)

In [8]:
telco.head()

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type_id,online_security,online_backup,...,payment_type_id,monthly_charges,total_charges,churn,contract_type_id,contract_type,payment_type_id,payment_type,internet_service_type_id,internet_service_type
0,Female,0,Yes,Yes,65,Yes,Yes,1,Yes,Yes,...,2,90.45,5957.90,0,3,Two year,2,Mailed check,1,DSL
1,Male,0,No,No,54,No,No phone service,1,Yes,No,...,4,45.20,2460.55,0,3,Two year,4,Credit card (automatic),1,DSL
2,Female,0,No,No,56,No,No phone service,1,Yes,Yes,...,3,45.05,2560.10,0,3,Two year,3,Bank transfer (automatic),1,DSL
3,Male,0,Yes,Yes,20,No,No phone service,1,Yes,No,...,4,39.40,825.40,0,3,Two year,4,Credit card (automatic),1,DSL
4,Male,0,Yes,No,72,Yes,Yes,1,No,Yes,...,3,85.15,6316.20,0,3,Two year,3,Bank transfer (automatic),1,DSL